body {
    font-family: Georgia, Arial, sans-serif;
   
    padding: 2rem;
    background-color:white;
}

#p1 {
    color: rgb(23, 72, 179);
    font-size: 24px;
    font-style: italic;
     text-align: center;
    margin-bottom: 0.5rem;
    
}

#p2 {
    color: rgb(16, 105, 156);
    font-size: 24px;
    font-style: italic;
     text-align: center;
    margin-bottom: 0.5rem;
}
.yt-button {
    display: inline-block;
    margin-top: 1rem;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;

    padding: 10px 20px;
    background-color: rgb(255, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

.yt-button:hover {
    background-color: rgb(228, 228, 228);
    color: rgb(247, 0, 0);
}
.instagram-button {
    display: inline-block;
    margin-top: 1rem;
    background-image:url(instagram_animation1.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    color: rgb(255, 255, 255);

    padding: 30px 30px;
    text-decoration: none;
    font-weight: bold;
}
.instagram-button:hover {
    background-image: url(Instagram_animation2.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fb-button {
    display: inline-block;
    margin-top: 1rem;
    border: 1px solid rgb(0, 0, 255);
    background-image:url(fb.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;

    padding: 15px 15px;
    background-color: rgb(59, 89, 152);
    text-decoration: none;
    font-weight: bold;
}
.reddit-button {
    display: inline-block;
    margin-top: 1rem;
    border: 1px solid rgb(255, 69, 0);
    background-image:url(reddit.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;

    padding: 15px 15px;
    background-color: rgb(255, 69, 0);
    text-decoration: none;
    font-weight: bold;
}